.container {
    margin: 2rem auto;
  }
  .container .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
  }
  .container .card .card-header {
    background: linear-gradient(45deg, #343a40, #212529);
    color: #fff;
    padding: 1rem;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  .container .card .card-body {
    padding: 0;
    background-color: #f8f9fa;
  }
  .container .card .card-body embed {
    display: block;
    border: none;
    min-height: 100vh;
    max-height: calc(100vh - 4rem);
    width: 100%;
  }
  .container .card .card-body embed::-webkit-scrollbar {
    width: 8px;
  }
  .container .card .card-body embed::-webkit-scrollbar-thumb {
    background: #6c757d;
    border-radius: 4px;
  }
  .container .card .card-body embed::-webkit-scrollbar-thumb:hover {
    background: #495057;
  }
  